.btn {
  box-shadow: $shadow-std;
  border-radius: $border__radius;
  color: $btn-basic-color;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: .3s;
  white-space: normal;
  word-wrap: break-word;
  @include btn-size($btn-basic-padding-x, $btn-basic-padding-y, $btn-basic-font);

  //Part of horizontal hover
  &:before {
    content: "";
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-out;
  }

  &:hover, &:active, &:focus {
    box-shadow: $shadow-extra;
    outline: 0;
    &:before {
      transform: scaleX(1);
      border-radius: $border__radius;
    }
  }

  &:disabled, &.disabled {
    pointer-events: none;
    opacity: .5;
  }

  &--sm{
    @include btn-size($btn-sm-padding-x, $btn-sm-padding-y, $btn-sm-font);
  }

  &--md{
    @include btn-size($btn-md-padding-x, $btn-md-padding-y, $btn-md-font);
  }

  &--lg{
    @include btn-size($btn-lg-padding-x, $btn-lg-padding-y, $btn-lg-font);
  }

  i {
    position: relative;
    font-size: calc-rem(16);
  }

  &--flat {
    background: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    color: inherit !important;
    font-family: $font-family--all;

    &:before {
  		position: absolute;
  		left: 51%;
  		right: 51%;
  		bottom: 0;
  		height: 4px;
      background: $color__primary;
      transform-origin: 0;
  		transition-property: left, right;
  		transition-duration: .3s;
  		transition-timing-function: ease-out;
  	}

    &:hover , &:focus, &:active {
      box-shadow: none;

      &:before {
  			left: 0;
  			right: 0;
  		}
    }

    &:active {
      box-shadow: none;
    }
  }

  &--block {
    display: block;
    margin: inherit;
    width: 100%;
  }

  &--link {
    box-shadow: none;
    background-color: transparent;

    &:hover , &:focus, &:active {
      box-shadow: none !important;
      background-color: transparent;
    }

  }

  &--round {
    border-radius: $border__round;
    &:before {
      border-radius: $border__round!important;
    }
  }

  &--circle {
    border-radius: $border__circle;
    height: 50px;
    width: 50px;
    padding: 0;
    &:before {
      border-radius: $border__circle!important;
    }
  }

  &--float {
    box-shadow: $shadow-std;
    border-radius: $border__round;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family--all;
    padding: 0;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    transition: $transition__hover;
    z-index: 1;
    @include make-float-button(calc-rem(16), 50px, 50px);

    &:disabled, &.disabled {
      pointer-events: none;
      opacity: .65;
    }

    &:hover, &:focus {
      box-shadow: $shadow-extra;
    }

    &:before {
      border-radius: 0;
    }

    i {
      display: inline-block;
      width: inherit;
      text-align: center;
      color: $color__white;
    }

  }

  &[class*="btn-outline--"] {
    padding-top: .4rem;
    padding-bottom: .4rem;

    &.btn--sm {
      padding-top: .28rem;
      padding-bottom: .28rem;
    }

    &.btn--md {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    &.btn--lg {
      padding-top: .62rem;
      padding-bottom: .62rem;
    }

    //TODO add more styles
  }

}

button, html [type="button"], [type="reset"], [type="submit"] {
  appearance: none !important;
}

@each $btn-name, $color_val in $colors {
  @include make-button($btn-name, $color_val);
  @include make-button-outline($btn-name, $color_val);
}
