.header-hero {
  display: block;
  width: 100%;

  @media (min-width: $device--sm) {
    margin-top: 42px;
  }
}

.hero {

  &--home {
    height: 150px;
    min-height: 150px;
  }

  &--blog {
    display: flex;
    height: 300px;
    min-height: 300px;
    justify-content: center;
  }

  &--contact {
    height: 200px;
    min-height: 200px;
  }

  &--img {
    width: 100%;
    height: auto;

    @media (min-width: $device--sm) {
      height: 300px;
      width: 70%;
    }
  }

  .title {
    color: $color__white;
    font-family: $font-family--special;
    font-size: 7rem;
    text-shadow: 1px 1px 1px rgba(0,0,0, .6);
  }
}

@each $hero-name, $color_val in $colors {
  @include make-hero($hero-name, $color_val);
}
