.jumbotron {
  background-color: $color__white;
  box-shadow: $shadow-extra;
  border-radius:$border__radius;
  min-height: 280px;
  padding: $padding-all-std;
  text-align: center;
  width: calc(100% / 1.1);

  &--fluid {
    width: 100%;
  }
}

.flyby {
  margin-top: -60px;

  .card-body {
    background-color: $color__white;
    box-shadow: $shadow-std;

    h1 {
      padding-bottom: 1rem;
      @include font-style(40, rokkitt, $color__primary, normal)

      @media (min-width: $device--sm) {
        font-size: calc-rem(56);
      }
    }

    p {
      padding-bottom: 2rem;
    }
  }
}
