@import 
    './variables',
    './mixin',
    './functions';

.wrap {
    margin:0 auto;
    width: percentage(760px / 960px);
}

input {
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-block;
    outline: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #fff;
}