
.flex__container {
  @include make-container();
  @include make-container-max-widths();
}

.flex__container-fluid {
  @include make-container();
}
.flex__row {
  @include make-row();

  &--align-evenly {
    justify-content: space-evenly;
  }

  &--align-v-center {
    align-items: center;
  }

  &--align-v-bottom {
    align-items: flex-end;
  }

  &--align-h-center {
    justify-content: center;
  }

  &--align-h-right {
    justify-content: flex-end;
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}
.flex__row+.flex__row {
  margin-top: 1rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .flex__col,
  > [class*="flex__col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include make-grid-columns()
