@mixin font-style( $ffSize:false, $ffFamily:false, $ffColor:flase , $ffWeight:false ){
  @if $ffFamily == amiko {
    font-family: $font-family--all;
  } @else if $ffFamily == alfa {
    font-family: $font-family--special;
  }

  @if $ffSize { font-size: calc-em($ffSize); }
  @if $ffColor { color: $ffColor; }
  @if $ffWeight { font-weight: $ffWeight; }

  @media (min-width: $device--sm) {
    line-height: calculate-line-height( $ffSize, $device--sm );
  }
  @media (max-width: $device--md) {
    line-height: calculate-line-height( $ffSize, $device--md );
  }
  @media (max-width: $device--lg) {
    line-height: calculate-line-height( $ffSize, $device--lg );
  }
  @media (max-width: $device--xl) {
    line-height: calculate-line-height( $ffSize, $device--xl );
  }

};

@mixin make-nav( $tcolor, $color, $color-1, $bgcolor) {
  .navbar-nav {

    .nav-link {

      &.disabled {
        color: $tcolor;

        &:hover {
          color: $tcolor
        }
      }
    }
  }
  .navbar-nav {

    .nav-link {
      color: $color;
      transition: $transition__hover;

      &:hover {
        color: $color-1
      }
    }
    &.active>.nav-link {
      background-color: $bgcolor;
      &:hover {
        color: $color;
      }
    }
  }

  padding: $pd-y $pd-x;
};

@mixin btn-size($pd-x,$pd-y,$font-size) {
  font-size: $font-size;
  padding: $pd-y $pd-x;
};

@mixin make-button($name, $color){
  .btn--#{$name} {
    background-color: $color !important;
    color: alter-set-text-color($color) !important;

    &:hover{
      background-color: lighten($color, 5%)!important;
    }
    &:focus {
      box-shadow: $shadow-extra;
    }
    &:focus, &:active, &.active {
      background-color: darken($color, 10%)!important;
    }
  }
};


@mixin make-badge($name, $color){
  .badge--#{$name} {
    background-color: $color !important;
    color: alter-set-text-color($color) !important;
  }
};

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
};
