h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.xlHeadline {
  @include font-style(56, rokkitt, $color__primary, normal)
}

.lgHeadline {
  @include font-style(34, rokkitt, $color__primary, normal)
}

.mdHeadline {
  @include font-style(28, rokkitt, $color__primary, normal)
}

.smHeadline {
  @include font-style(24, rokkitt, $color__primary, normal)
}

.lg-copy {
  font-size: calc-rem(19);
}

.sm-copy {
  font-size: calc-rem(14);
}

.caption {
  font-size: calc-rem(12);
}

.primary-text-color {
  color: $color__primary !important;
}

.secondary-text-color {
  color: $color__secondary !important;
}

.optional-text-color {
  color: $color__optional !important;
}

.inactive {
  color: $color__inactive;
}

.bolded {
  font-weight: 700;
}
