//devices
$device--xs:               26.5em; // 425px
$device--sm:               34em; //540px
$device--md:               48em; //768px
$device--lg:               62em; //992px
$device--xl:               75em; //1200px

$grid-columns:             12 !default;
$grid-gutter-width:        30px !default;

//colors
$color__primary:           #2891cb !default; //blue
$color__secondary:         #ca6e29 !default; //orange
$color__optional:          #276b53 !default; //green
$color__success:           #00c851 !default; //green lime
$color__default:           #444444 !default;    //dark grey
$color__warning:           #ffbb33 !default; //yellow
$color__red:               #C10000 !default;
$color__anchor:            #0275d8 !default;

$color__info:              #33b5e5 !default;
$color__grey--std:         #585858 !default;
$color__grey--bg:          #9d9d9d !default;
$color__white:             #ffffff !default;
$color__black:             #000000 !default;

$color__primary--light:    #15a0ec !default;
$color__secondary--light:  #ea6e11 !default;
$color__optional--light:   #1cb17c !default;
$color__red--light:        rgba($color__red, .85) !default;
$color__info--light:       rgba($color__info, .85) !default;
$color__bgGrey--light:     rgba($color__grey--bg, .85) !default;

$color__red--dark:         darken($color__red, 10%) !default;
$color__bgGrey--dark:      darker($color__grey--bg, 10%) !default;

$color__danger:            $color__red--light;
$color__error:             $color__red--dark;
$color__inactive:          lighten($color__black, 40%) !default;

//Font settings
$font-family--all:         'Dosis', Helvetica, Arial, Sans-Serif;
$font-family--special:     'Rokkitt', 'Helvetica Neue', Arial, Sans-Serif;
$font-size__base:          16 !default;
$line-height__base:        20 !default;

$font--small:              .9rem !default;
$font--large:              1.5rem !default;

//transitions
$transition__basic:        all .2s ease-in-out !default;
$transition__hover:        all .45s ease-in-out !default;

//shadow
$shadow-std:               0 5px 11px rgba(0,0,0, .2), 0 4px 15px rgba(0,0,0, .19) !default;
$shadow-extra:             0 8px 18px rgba(0,0,0, .2), 0 6px 20px rgba(0,0,0, .19) !default;

//border
$border__std:              1px solid $color__bgGrey--light;

$border__radius:           .3rem !default;
$border__round:            10em !default;
$border__circle:           50% !default;

//padding
$padding-all-std:           2rem !default;
$padding-small-x:           .4rem !default;
$padding-small-y:           .25rem !default;

//dividers
$hr-ligth:                 lighten($color__white, 2%) !default;
$hr-dark:                  darken($color__default, 2%) !default;
$hr-margin-x:              .5rem !default;
$hr-margin-y:              2.5rem !default;
$hr-heigth-x:              2px !default;

$assets-loc:               '../assets/';

//buttons
$btn-basic-color:          $color__white !default;
$btn-basic-font:           1rem !default;
$btn-basic-margin:         .375rem !default;
$btn-basic-padding-x:      2rem !default;
$btn-basic-padding-y:      .9rem !default;

$btn-icon-basic:           .7rem;
$btn-icon-sm:              .5rem;
$btn-icon-md:              .8rem;
$btn-icon-lg:              1rem;

$btn-sm-font:              .95rem !default;
$btn-sm-padding-x:         1.7rem !default;
$btn-sm-padding-y:         .8rem !default;

$btn-md-font:              1.05rem !default;
$btn-md-padding-x:         2.7rem !default;
$btn-md-padding-y:         .9rem !default;

$btn-lg-font:              1.2rem !default;
$btn-lg-padding-x:         3.7rem !default;
$btn-lg-padding-y:         1rem !default;

$btn-tb-padding-x:         1rem !default;
$btn-tb-padding-y:         .4rem !default;

$btn-ol-padding-y-basic:   .7rem;
$btn-ol-padding-y-sm:      .4rem;
$btn-ol-padding-y-md:      .55rem;
$btn-ol-padding-y-lg:      .9rem;

$btn-float-width:          45px !default;
$btn-float-height:         $btn-float-width !default;
$btn-float-icon:           1.5rem !default;
$btn-float-lh:             $btn-float-width !default;

$btn-float-width-sm:       $btn-float-width / 1.3 !default;
$btn-float-height-sm:      $btn-float-width-sm !default;
$btn-float-icon-sm:        $btn-float-icon / 1.3 !default;
$btn-float-lh-sm:          $btn-float-width-sm !default;

$btn-float-width-lg:       $btn-float-width * 1.3 !default;
$btn-float-height-lg:      $btn-float-width-lg !default;
$btn-float-icon-lg:        $btn-float-icon * 1.3 !default;
$btn-float-lh-lg:          $btn-float-width-lg !default;

$btn-transition:           $transition__basic !default;
$btn-float-transition:     $transition__basic !default;

$btn-rounded-radius:       $border__round;
$btn-float-radius:         $border__round;
$btn-circle-radius:        $border__circle;

//input
$input-height:             30px;
$input-radius:             $border__radius !default;
$input-padding-y:          10px;
$input-padding-x:          12px;
